<div class="row">
            <div class="card-body">
                <table class="table">
                <thead>
                    <th>Ubicación</th>
                    <th>Contenido</th>
                    <th>Fecha</th>
                </thead>
                <tbody>
                {{#each recomendaciones}}
                    <tr>
                    <td>{{ ubicacion }}</td>
                    <td>{{ contenido }}</td>
                    <td>{{ date }}</td>
                    </tr>
                {{/each}}
                </tbody>
                </table>
            </div>
        </div>
    </div>
 </div>
