<div class="row">
            <div class="card-body">
                <table class="table">
                <thead>
                    <th>ID de Archivo</th>
                    <th>Estado</th>
                    <th>Ubicación</th>
                    <th>Fecha</th>
                </thead>
                <tbody>
                {{#each estados}}
                    <tr>
                    <td>{{idArchivo}}</td>
                    <td>{{estado}}</td>
                    <td>{{ubicacion}}</td>
                    <td>{{date}}</td>
                    </tr>
                {{/each}}
                </tbody>
                </table>
            </div>
        </div>
    </div>
 </div>
