<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <!-- Default form register -->
            <form class="text-center border border-light p-5" action="/users/signup" method="POST">

                <p class="h4 mb-4">Sign up</p>

                <div class="form-row mb-4">
                    <div class="col">
                        <!-- First name -->
                        <input type="text" name="name" class="form-control"
                            placeholder="Nombre" value="{{name}}">
                    </div>
                </div>

                <!-- E-mail -->
                <input type="email" name="email" class="form-control mb-4" placeholder="E-mail" value="{{email}}">

                <!-- Password -->
                <input type="password" name="password" class="form-control" placeholder="Password"
                    aria-describedby="defaultRegisterFormPasswordHelpBlock" value="{{password}}">
                <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                    At least 8 characters and 1 digit
                </small>

                <!-- Confirm Password -->
                <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password"
                    aria-describedby="defaultRegisterFormPhoneHelpBlock" value="{{confirm_password}}">
                <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
                </small>

                <!-- Newsletter -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
                    <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our
                        newsletter</label>
                </div>

                <!-- Sign up button -->
                <button class="btn btn-info my-4 btn-block" type="submit">Sign up</button>

                <!-- Social register -->
                <p>or sign up with:</p>

                <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>
                <a href="#" class="mx-2" role="button"><i class="fab fa-twitter light-blue-text"></i></a>
                <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>
                <a href="#" class="mx-2" role="button"><i class="fab fa-github light-blue-text"></i></a>

                <hr>

                <!-- Terms of service -->
                <p>By clicking
                    <em>Sign up</em> you agree to our
                    <a href="" target="_blank">terms of service</a>

            </form>
            <!-- Default form register -->
        </div>
    </div>
</div>